services:
  mongodb-service:
    image: mongo:latest
    container_name: mongodb_testflow
    restart: always

    volumes:
      - mongo-data:/data/db
      - ./install/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  backend-service:
    build: ./testflow-app
    container_name: backend_testflow
    restart: always
    expose:
      - "3000"
    environment:
      - FRONTEND_URL=${FRONTEND_URL:-https://localhost/testflow}
    volumes:
      - ./evidencias_testes:/evidencias_testes
    depends_on:
      - mongodb-service

  frontend-service:
    build: ./testflow-frontend
    container_name: frontend_testflow
    restart: always
    expose:
      - "80"
    depends_on:
      - backend-service

  nginx-service:
    build: ./nginx
    container_name: nginx_testflow
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend-service
      - backend-service
    # DESCOMENTE AS LINHAS ABAIXO NO SERVIDOR DE PRODUÇÃO
    # E COLOQUE OS SEUS CERTIFICADOS NA PASTA ./certificados
    # volumes:
    #   - ./certificados/testflow.crt:/etc/nginx/ssl/testflow.crt:ro
    #   - ./certificados/testflow.key:/etc/nginx/ssl/testflow.key:ro

volumes:
  mongo-data:
